html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 128, 128, 0.094);
    height: 100vh;
    width: 100vw;
    margin: auto;
    justify-content:space-between;
    align-items: center;
    background-color: blanchedalmond;
}
    .header {
        height: 3vh;
        width: 100vw;
        background-color: ivory;
        box-shadow: -5px 5px 10px #000021;
        display: flex;
        align-items: center;
    }
        .header-title {
            padding-left: 2vw;
        }
    
    .buttonBox {
        width: 50vw;
        display: flex;
        justify-content: space-between;
    }

button {
    background-color: rgb(210, 101, 101);
    color: white;
    box-shadow: -4px -4px 6px #000021 inset;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    margin: 2vh;
}
    .rainbow {
        background-color: teal;
    }
    .original {
        background-color: black;
        box-shadow: 4px 4px 6px #29da6a;
    }
    .fade {
        background-color: gray;
    }
    .gameBoard {
        display: flex;
        flex-direction: row;
        Height: 85vh;
        width: 85vh;
        margin-bottom: 2vh;
        background-color:ivory;
        flex-wrap: wrap;
        border:#000021;
        border-style: solid;
    }